### Ignore File ###
# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# WebStorm
.idea

# Jsdoc output
out

# mac os
.DS_Store

dist/

src/cache/

node_modules/

*.zip

cmake-build-debug


